@using Campus360.Data.Enum
@model Course

<h2>Create New Course</h2>
<link rel="stylesheet" href="~/css/Master.css" />
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="CreateCourse" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CreditHours"></label>
        <select asp-for="CreditHours" class="form-control" asp-items="Html.GetEnumSelectList<CreditHours>()"></select>
        <span asp-validation-for="CreditHours" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Semester"></label>
        <select asp-for="Semester" class="form-control" asp-items="Html.GetEnumSelectList<Semester>()"></select>
        <span asp-validation-for="Semester" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
