.teacher-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: white;
    border: 1px solid #dce6f1;
    color: #003366;
    border-radius: 10px;
}

    .teacher-card:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }

.teacher-name {
    font-weight: 600;
    color: #004080;
}

.teacher-email {
    font-size: 0.9rem;
    color: #555;
}
